*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
}

.configurazioni{
  background-color: white;
  padding: 15px;
  margin: 10px;
  border: 1px solid black;
}
.contenitore{
  background-color: grey;
  padding: 20px 10px;
}
h2{
  margin: 10px 0;
}
