*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.configurazioni{
  background-color: white;
  height: 100px;
  padding: 15px;
  margin: 10px;
  border: 1px solid black;

}
